body{
    background-image: url(../imgs/café.jpg);
}


#icon{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.principal{
    display: flex;
    justify-content: center;
}

.principal a{
    text-decoration: none;
}

.texto{
    color: white;
    text-align: center;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

.rodape h6{
    padding: 10px;
    margin-top: 10px;
}
