body{
    background-color: #8B4513;
}


#icon{
    width: 32px;
    height: 32px;
    margin: 10px;
}

.principal{
    display: flex;
    justify-content: center;
    padding: 180px;
}

.principal a{
    text-decoration: none;
}

.container{
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    max-width: 800px;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    /* Rodapé no final da página */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rodape h6{
    padding: 10px;
    margin-top: 10px;
}
